## 크롤링 참고
- https://github.com/rlaalstn1504/NLP_class/blob/main/2.%ED%81%AC%EB%A1%A4%EB%A7%81%20%EA%B8%B0%EC%B4%88.ipynb

In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv("../../data/seoul_apart_2022.csv")
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,언주로 3,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,개포로 264,NaN,중개거래,"서울 강남구, 서울 양천구"
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,개포로 264,NaN,중개거래,서울 강남구

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12684 non-null  object
 1   번지        12681 non-null  object
 2   본번        12682 non-null  float64
 3   부번        12682 non-null  float64
 4   단지명       12684 non-null  object
 5   전용면적(㎡)   12684 non-null  float64
 6   계약년월      12684 non-null  int64
 7   계약일       12684 non-null  int64
 8   거래금액(만원)  12651 non-null  object
 9   층         12684 non-null  int64
 10  건축년도      12682 non-null  float64
 11  도로명       12684 non-null  object
 12  해제사유발생일   715 non-null    float64
 13  거래유형      12684 non-null  object
 14  중개사소재지    12684 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 1.5+ MB

In [19]:
# 불필요한 컬럼 삭제 
df.drop(['해제사유발생일','중개사소재지','번지','본번','부번','도로명','거래유형'], axis=1, inplace = True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12684 non-null  object
 1   단지명       12684 non-null  object
 2   전용면적(㎡)   12684 non-null  float64
 3   계약년월      12684 non-null  int64
 4   계약일       12684 non-null  int64
 5   거래금액(만원)  12651 non-null  object
 6   층         12684 non-null  int64
 7   건축년도      12682 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 792.9+ KB

In [21]:
df.isnull().sum()

시군구          0
단지명          0
전용면적(㎡)      0
계약년월         0
계약일          0
거래금액(만원)    33
층            0
건축년도         2
dtype: int64

In [22]:
df = df.rename(columns = {"전용면적(㎡)":"전용면적"})
df.head()

             시군구             단지명    전용면적    계약년월  계약일 거래금액(만원)   층    건축년도
0  서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202204   12  220,000   4  1987.0
1  서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202204   21  220,000   2  1987.0
2  서울특별시 강남구 개포동  개포6차우성아파트1동~8동   79.97  202205   27  216,000   2  1987.0
3  서울특별시 강남구 개포동       개포래미안포레스트  102.32  202204    1  369,000  13  2020.0
4  서울특별시 강남구 개포동       개포래미안포레스트  136.06  202205    2  420,000  17  2020.0

In [23]:
# 시군구 분리하기
df['구'] = df['시군구'].apply(lambda e: e.split()[1])
df['동'] = df['시군구'].apply(lambda e: e.split()[2])
df.head()

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,강남구,개포동
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,강남구,개포동
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,강남구,개포동
3,서울특별시 강남구 개포동,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,강남구,개포동
4,서울특별시 강남구 개포동,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,강남구,개포동

In [24]:
# 전용면적에 따라 구간을 나누어 아파트 유형 분류

def category(e):
  if e <= 60:
    return "소형"
  elif e <= 85:
    return "중형"
  elif e<=102:
    return "중대형"
  else:
    return "대형"
  
df['유형'] = df['전용면적'].apply(category)
df.head()

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,강남구,개포동,중형
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,강남구,개포동,중형
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,강남구,개포동,중형
3,서울특별시 강남구 개포동,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,강남구,개포동,대형
4,서울특별시 강남구 개포동,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,강남구,개포동,대형

In [25]:
df["계약일"]=df["계약년월"].astype('str') + df["계약일"].astype(str)
df.head()
# df["계약일"] = pd.to_datetime(df["계약일"], format='%Y%m%d')

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,20220412,"220,000",4,1987.0,강남구,개포동,중형
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,20220421,"220,000",2,1987.0,강남구,개포동,중형
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,20220527,"216,000",2,1987.0,강남구,개포동,중형
3,서울특별시 강남구 개포동,개포래미안포레스트,102.32,202204,2022041,"369,000",13,2020.0,강남구,개포동,대형
4,서울특별시 강남구 개포동,개포래미안포레스트,136.06,202205,2022052,"420,000",17,2020.0,강남구,개포동,대형

In [26]:
df["계약일"] = pd.to_datetime(df['계약일'], format = "%Y%m%d")
df.head()

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,2022-04-12,"220,000",4,1987.0,강남구,개포동,중형
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,2022-04-21,"220,000",2,1987.0,강남구,개포동,중형
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,2022-05-27,"216,000",2,1987.0,강남구,개포동,중형
3,서울특별시 강남구 개포동,개포래미안포레스트,102.32,202204,2022-04-01,"369,000",13,2020.0,강남구,개포동,대형
4,서울특별시 강남구 개포동,개포래미안포레스트,136.06,202205,2022-05-02,"420,000",17,2020.0,강남구,개포동,대형

In [30]:
df['계약월'] = df['계약일'].dt.month 
df['계약요일'] = df['계약일'].dt.dayofweek # 일주일, 인덱스 0부터

date_mapping = {0:'월', 1:'화', 2:'수', 3:'목', 4:'금', 5:'토', 6:'일'}
df['계약요일'] = df['계약요일'].map(date_mapping)

df.head()

,시군구,단지명,전용면적,계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형,계약월,계약요일
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,2022-04-12,"220,000",4,1987.0,강남구,개포동,중형,4,화
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,2022-04-21,"220,000",2,1987.0,강남구,개포동,중형,4,목
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,2022-05-27,"216,000",2,1987.0,강남구,개포동,중형,5,금
3,서울특별시 강남구 개포동,개포래미안포레스트,102.32,202204,2022-04-01,"369,000",13,2020.0,강남구,개포동,대형,4,금
4,서울특별시 강남구 개포동,개포래미안포레스트,136.06,202205,2022-05-02,"420,000",17,2020.0,강남구,개포동,대형,5,월

In [31]:
df.isnull().sum()

시군구          0
단지명          0
전용면적         0
계약년월         0
계약일          0
거래금액(만원)    33
층            0
건축년도         2
구            0
동            0
유형           0
계약월          0
계약요일         0
dtype: int64

In [33]:
df.dropna(subset = ["거래금액(만원)"], inplace = True) # ignore_index 인자 삭제됨
df.reset_index(drop=True, inplace=True)# 인덱스 초기화

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651 entries, 0 to 12650
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12651 non-null  object
 1   단지명       12651 non-null  object
 2   전용면적      12651 non-null  float64
 3   계약년월      12651 non-null  int64
 4   계약일       12651 non-null  datetime64[ns]
 5   거래금액(만원)  12651 non-null  object
 6   층         12651 non-null  int64
 7   건축년도      12649 non-null  float64
 8   구         12651 non-null  object
 9   동         12651 non-null  object
 10  유형        12651 non-null  object
 11  계약월       12651 non-null  int64
 12  계약요일      12651 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(7)
memory usage: 1.3+ MB

In [36]:
# 거래금액(만원)이 지금 object이므로 numeric으로 변환

df['거래금액(만원)'] = df['거래금액(만원)'].str.replace(",","") # , 제거
df['거래금액(만원)'] = pd.to_numeric(df['거래금액(만원)'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651 entries, 0 to 12650
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12651 non-null  object
 1   단지명       12651 non-null  object
 2   전용면적      12651 non-null  float64
 3   계약년월      12651 non-null  int64
 4   계약일       12651 non-null  datetime64[ns]
 5   거래금액(만원)  12651 non-null  int64
 6   층         12651 non-null  int64
 7   건축년도      12649 non-null  float64
 8   구         12651 non-null  object
 9   동         12651 non-null  object
 10  유형        12651 non-null  object
 11  계약월       12651 non-null  int64
 12  계약요일      12651 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(6)
memory usage: 1.3+ MB

In [37]:
df["전용면적"] = round(df["전용면적"]/3.3, 2) # round(,2)는 소수점 두번째 자리에서 반올림
df=df.rename(columns={"전용면적":"전용면적(평)"})

df.head()

,시군구,단지명,전용면적(평),계약년월,계약일,거래금액(만원),층,건축년도,구,동,유형,계약월,계약요일
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,24.23,202204,2022-04-12,220000,4,1987.0,강남구,개포동,중형,4,화
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,24.23,202204,2022-04-21,220000,2,1987.0,강남구,개포동,중형,4,목
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,24.23,202205,2022-05-27,216000,2,1987.0,강남구,개포동,중형,5,금
3,서울특별시 강남구 개포동,개포래미안포레스트,31.01,202204,2022-04-01,369000,13,2020.0,강남구,개포동,대형,4,금
4,서울특별시 강남구 개포동,개포래미안포레스트,41.23,202205,2022-05-02,420000,17,2020.0,강남구,개포동,대형,5,월

In [38]:
df['평당금액'] = df['거래금액(만원)'] / df['전용면적(평)']
df["평당금액"]=round(df["평당금액"],2) # 소수점 둘째자리 반올림
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651 entries, 0 to 12650
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12651 non-null  object
 1   단지명       12651 non-null  object
 2   전용면적(평)   12651 non-null  float64
 3   계약년월      12651 non-null  int64
 4   계약일       12651 non-null  datetime64[ns]
 5   거래금액(만원)  12651 non-null  int64
 6   층         12651 non-null  int64
 7   건축년도      12649 non-null  float64
 8   구         12651 non-null  object
 9   동         12651 non-null  object
 10  유형        12651 non-null  object
 11  계약월       12651 non-null  int64
 12  계약요일      12651 non-null  object
 13  평당금액      12651 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(6)
memory usage: 1.4+ MB

In [45]:
# 서초구의 동 중 평당금액 평균이 2번째로 높은 동

#df.groupby('구')[["평당금액"]].mean() # 구별 평당금액
seocho = df.groupby(["구","동"])[["평당금액"]].mean().loc['서초구'].sort_values(by = "평당금액", ascending = False) # 집계함수 붙이면 DataFrame으로 반환
seocho

             평당금액
동
반포동  12392.411218
잠원동  10398.817979
내곡동   6149.430000
신원동   6121.855000
방배동   5595.841667
서초동   5454.335684
우면동   5203.296296
양재동   4092.363846

In [50]:
# 다른 방법으로도 구할 수 있음
df[df["구"]=="서초구"].groupby("동")["평당금액"].mean().sort_values(ascending=False)

동
반포동    12392.411218
잠원동    10398.817979
내곡동     6149.430000
신원동     6121.855000
방배동     5595.841667
서초동     5454.335684
우면동     5203.296296
양재동     4092.363846
Name: 평당금액, dtype: float64

In [46]:
seocho.index

Index(['반포동', '잠원동', '내곡동', '신원동', '방배동', '서초동', '우면동', '양재동'], dtype='object', name='동')